<tr id="<%= record.ID %>" onclick="window.location.href = 'http://cnshafinaap01p:2017/detail/<%= record.ID %>';">
    <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.OpportunityCode %></a></td>
        <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.EnglishName + '/' + record.ChineseName %></a></td>
        <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.SalesRep %></a></td>
</tr>