<tr id="<%= record.ID %>">
    <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.ReviewerName %></a></td>
        <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.EnglishName + '/' + record.ChineseName %></a></td>
        <td><a href="/detail/<%= record.ID%>" target="_self"><%= record.SalesRep %></a></td>
</tr>