<div class="brief-data">
  <ul>
    <li>
      <%= data.ID %>
    </li>
    <li>
      <%= data.ReviewerName %>
    </li>
    <li>
      <%= data.BUDistrictName %>
    </li>
    <li>
      <%= data.OpportunityCode %>
    </li>
    <li>
      <%= data.Province %>
    </li>
  </ul>
</div>
