<tr id="<%= record.ID %>" onclick="window.location.href = 'http://cnshafinaap01p:2017/detail/<%= record.ID %>';"
        <% let tempArray = JSON.parse(record.CheckedUsers); %>
        <% let isCheckedData = false; %>
        <% for (let i = 0; i < tempArray.length; i++) { %>
        <% if (tempArray[i] == currentUser) { %>
        <% isCheckedData = true; %>
        <% break; %>
        <% } %>
        <% } %>
        <% if (!isCheckedData) {%>
            class="new-data-tr"
        <% }%>
>
    <td><a><%= record.ChineseName %></a></td>
    <td><a><%= record.PipelineStatus %></a></td>
    <td><a><%= record.TargetRate %></a></td>
    <td><a><%= record.AnnualSales %></a></td>
    <td><a><%= record.SalesRep %></a></td>
    <td><a><%= record.FollowingStatus %></a></td>
    <td>
        <a>
            <% let salesTypeArray = JSON.parse(record.SalesType); %>
            <% salesTypeArray.forEach(function (type) { %>
            <%= type %><br/>
            <% }); %>
        </a>
    </td>
    <td><a><%= record.MarketClassification %></a></td>
    <td><a><%= record.RecordOwner %></a></td>
</tr>