<a href="/detail/<%= record.ReviewerName%>" target="_self">
    <tr id="<%= record.ReviewerName %>">
        <td><%= record.ReviewerName %></td>
        <td><%= record.EnglishName + '/' + record.ChineseName %></td>
        <td><%= record.SalesRep %></td>
    </tr>
</a>