<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Ecolab!</title>
    <link href="../styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/admin.css">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/admin.js"></script>
</head>
<body>

<div id="main-container">

    <div class="container" id="nav-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://www.ecolab.com.cn/" target="_blank">
                    <img src="../images/nav-ico.png">
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <table class="table table-hover">
                    <caption><b>Welcome!<br /><span><%= masterData.Username %></span><br />All Master Table Is Here. Click to view detail.</b></caption>
                    <thead>
                    <tr>
                        <th>Master Table Name/主数据表</th>
                    </tr>
                    </thead>
                    <tbody id="content-container">
                    <% masterData.tables.forEach(function (table) { %>
                    <tr id="<%= table.Name %>" onclick="window.location.href = 'http://localhost:2017/admin/<%= table.Name %>';">
                        <td><%= table.Name %></td>
                        <td><a href="/admin/<%= table.Name%>" target="_self">Details</a></td>
                    </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container" id="add-button-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://localhost:2017/index">
                    <p>Click me to back to index.</p>
                </a>
            </div>
        </div>
    </div>


    <div class="container" id="footer-container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="http://www.ecolab.com.cn/" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
</div>


</body>
</html>